.tabs {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notActiveTab {
  text-decoration: none;
  color: rgb(56, 76, 114);
}

.activeTab {
  text-decoration: none;
  color: white;
}
