.flexContainer {
  display: flex;
}

.center {
  vertical-align: middle;
}

.dotted {
  border-style: dotted;
}

.logo {
  margin: auto;
}

.headerLeft {
  margin-left: 20px;
}
.headerRight {
  margin-right: 20px;
}

.nowrap {
  white-space: nowrap;
}
.linkColor {
  color: inherit;
  text-decoration: none;
}
.notActiveTab {
  text-decoration: none;
  color: rgb(132, 139, 153);
}

.activeTab {
  text-decoration: none;
  color: white;
}
