.middle {
  text-align: center;
  white-space: normal;
}
.orderId {
  height: 120px;
  width: 520px;
  text-shadow: rgb(0, 98, 255) 8px 0 10px;
}
.orderIdText {
  height: 30px;
  width: 520px;
}
.checkIcon {
  height: 120px;
  width: 120px;
  margin-left: 300px;
  display: flex;
}
